
<!--  
<div *ngFor="let m of childpost">
  <h1>{{m.fist}}</h1>
  <h1>{{m.select}}</h1>
  <h1>{{m.file}}</h1>
  <h1>{{m.radio}}</h1>
  
</div> -->
<table border="1">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Profile</th>
    <th>job Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let m of childpost">
    <td>{{m.fist}}</td>
    <td>{{m.select}}</td>
    <td>{{m.file}}</td>
    <td>{{m.radio}}</td>
    <td><button>Edit</button>/<button type="">Delete</button></td>
  </tr>
</table>