<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>contant</mat-card-title>
    <mat-card-subtitle>contant</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8b2ZmaWNlJTIwc3BhY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
   
      bred for hunting. Raju
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/contant2" routerLinkActive="active">back</button>
    
  </mat-card-actions>
</mat-card>

