<app-child [child]="sa"></app-child>
<app-outputing (childeran)="chuckChander($event)"></app-outputing>
<h1>{{chuc}}</h1>
<app-child2 (valueChange)="displayCounter($event)"></app-child2>
<br/><br/>
<h2 title="tow way data binding" [ngClass]="cssArray">Value increment in Parent: {{parentCount}}</h2>

<input title="plese Enter name" type="text" [(ngModel)]="name">
<p title="tow way data binding">you entered {{name}}</p>
<button (click)="clearName()">click me</button>
<hr><hr><hr>
<app-childcomponent></app-childcomponent><hr><hr><hr>
<app-ng-for></app-ng-for>