<!-- <app-home></app-home>

<form #simpleForm="ngForm"(ngSubmit)="getUserValue(simpleForm.value)">
  <fieldset ngModelGroup="name">
    <input type="text" ngModel name="username" placeholder="username"><br><br>
  </fieldset>
  <fieldset ngModelGroup="age">
    <input type="text" ngModel name="age" placeholder="age"><br><br>

    <input type="text" ngModel name="address" placeholder="address"><br><br>
  </fieldset>
  <button>submite</button>
</form>
<div>
  <table border="1">
    <tr>
      <th>username</th>
      <th>age</th>
      <th>address</th>
    </tr>
    <tr>
      <td>{{username}}</td>
      <td>{{age}}</td>
      <td>{{address}}</td>
    </tr>
  </table>
</div> -->
<app-home></app-home>