<h2>List of Customers</h2>
<table border="1">
  <thead>
    <tr [ngClass]="cssArray">
      <th>count</th>   
      <th>name</th>
      <th>address</th>
      <th>country</th>
      <th>state</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="cssArrays"
   
    [ngStyle]="styleclasssss"
     *ngFor="let c of customers; index as i">
      <td >{{i+1}}</td>     
      <td >{{c.name}}</td>
      <td >{{c.address}}</td>
      <td >{{c.country}}</td>
      <td >{{c.state}}</td>
    </tr>
  </tbody>
</table>
