/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  box-sizing: border-box;
  background-color: rgb(171, 196, 221);
  
}
.flex ul{
  display: flex;
  flex-direction: row;
  list-style: none;

}

.flex ul li{
  margin: 10px;
}
.flex ul li a{
  text-decoration: none;
}
.flex-20 {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
  background-color: burlywood;
}

.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
  background-color: red;
}

.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
      -ms-flex: 1 1 calc(200% / 3);
          flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
  background-color: darkblue;
}

.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}

.layout-row  .flex-66 {
  max-width: calc(200% / 3);
  max-height: 100%;
}

.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
  background-color: darkorchid;
}

.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
  background-color: rgb(114, 250, 3);
}