<div style="position: absolute;     left: 258px;
top: 21px;">
  <form [formGroup]="myReactiveForm" (ngSubmit)=onSubmit()>
    <div formGroupName="userDtail">
        <label for="">user name</label><br>
        <input type="text" name="userName" formControlName="userName"><br>

        <label for="">Email</label><br>
        <input type="email" name="email" formControlName="email"><br>
        <small *ngIf="!myReactiveForm.get('userDtail.email').valid && myReactiveForm.get('userDtail.email').touched">enter valed email
          fffffffffffffffffff</small><br><br>
    </div>
    <label for="">user course</label><br>
    <select name="course" id="" formControlName="course">

      <option value="angular">angular</option>
      <option value="react">react</option>
      <option value="php">php</option>
    </select><br><br>
    <label for="">gender</label><br>

    <div *ngFor="let m of genders">
      <input type="radio" id="{{m.id}}" formControlName="gende" value="{{m.valu}}">
      <label for="{{m.id}}">{{m.valu}}</label>
    </div>
    <button>submite</button>
  </form>
</div>